<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>To-dos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script rel="text/javascript" src="javascripts/script.js"></script>
</head>
<body>
<form method="post">
  <label for="name">Name:</label>
  <input name="name" id="name" type="text">
  <br />
  <label for="completed">completed:</label>
  <input name="completed" id="completed" type="checkbox">
  <br />

  <label for="note">Note:</label>
  <input name="note" id="note" type="text">
  <br/>

  <input type="submit" value="Submit">
</form>
<div class="js-data"></div>
</body>
</html>